# Object files
TAGS
cscope.out
cscope.files
*.o
*.abs
*.elf
*.pyc
*.elf
*.s19
*.cmd

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# others
*.htm
*.doc
*.html

# directories
mc9s12xep100_os_only
mc9s12dp512.c
